.vscode
.DS_Store
.nvimlog
*.swp
.zed
__pycache__
101_ObjectCategories/
*.gz
data
annotations
clustering-examples
datasets
detectron2
detectron2-main
imgaug-master
UCI_HAR
my_dir
*.zip
*.pkl
/data_CIFAR*
/dataset
/lightning_logs
/pth
/pytorch-vision*
/saved_models*
/stl10_binary
/tiny-imagenet-200
*.ckpt
*.pth